<style>
  ul {
    list-style: none;
    display: flex;
  }

  .result-list {
    flex-wrap: wrap;
  }

  .result-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .result-item .filename {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .color-list {
    padding: 0;
  }

  .color-item {
    height: 10px;
    width: 10px;
    margin: 2px;
  }
</style>

<div style="text-align:center">
  <input type="file" id="changeFiles" (change)="handleFiles($event)" style="visibility: hidden" multiple />
  <label for="changeFiles">
    <div>
      <span>Change Files</span>
    </div>
  </label>

  <ul class="result-list">
    <li class="result-item" *ngFor="let image of result | orderby: 'colors'">
      <img [src]="image.src" alt="" width="200">
      <span class="filename">{{image.filename}}</span>
      <ul class="color-list">
        <li class="color-item" *ngFor="let color of image.colors" [style.background]="color"></li>
      </ul>
    </li>
  </ul>
</div>