<style>
  .title {
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(right, blue, orange);
    font-size: 24px;
  }

  .nav-bar {
    display: flex;
    justify-content: space-around;
  }

  .label-change-files {
    display: flex;
    justify-content: center;
  }

  .btn {
    background: rgba(255,255,255,.6);
    border-radius: 15px;
    padding: 10px;
    color: #333333;
    transition: transform .5s;
    cursor: pointer;
  }

  .btn:hover {
    transform: scale(1.2)
  }

  ul {
    list-style: none;
    display: flex;
  }

  .result-list {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }

  .result-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: move;
    border-radius: 15px;
  }

  .result-item:hover {
    outline: 2px solid rgba(255,255,255,.3);
  }

  .result-item-img {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .result-item .filename {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .color-list {
    padding: 0;
  }

  .color-item {
    height: 10px;
    width: 10px;
    margin: 2px;
  }
</style>

<div>
  <input type="file" id="changeFiles" (change)="handleFiles($event)" style="visibility: hidden" multiple />
  <h3 class="title">SortByColor</h3>
  <nav class="nav-bar">
    <label class="label-change-files" for="changeFiles">
      <div class="btn btn-change-files">
        <span>Change Files</span>
      </div>
    </label>

    <div class="btn btn-download" [style.opacity]="result.length > 0 ? 1 : .3" (click)="clear()">
      <span>Clear</span>
    </div>

    <div class="btn btn-download" [style.opacity]="result.length > 0 ? 1 : .3" (click)="download()">
      <span>Download</span>
    </div>

    <div class="btn">
      <span>Sort by:</span>
      <select name="sortOrder" [(ngModel)]="orderKey">
        <option [ngValue]="0">Color</option>
        <option [ngValue]="1">Saturance</option>
        <option [ngValue]="2">Luminosity</option>
      </select>
    </div>
  </nav>

  <ul class="result-list" [dragula]="'images'" [dragulaModel]="result">
    <li class="result-item" *ngFor="let image of result | orderby: orderKey">
      <div class="result-item-img" [style.backgroundImage]="'url('+image.src+')'"></div>
      <span class="filename">{{image.filename}}</span>
      <ul class="color-list">
        <li class="color-item" *ngFor="let color of image.colors" [style.backgroundColor]="color"></li>
      </ul>
    </li>
  </ul>
</div>